# Changes here will be overwritten by Copier. NEVER EDIT MANUALLY.
# This file records the answers given at generation time, which is what lets
# `copier update` regenerate the project later.
{{ _copier_answers|to_nice_yaml -}}
