# Environments and secrets
.env
.envrc
.env.yaml
.env.sample
.venv/
env/
venv/

# Local system and Python files
.python-version
**/__pycache__/
*.pyc
.pytest_cache/
*.egg-info/

# Development folders (not needed in production)
tests/
notebooks/
package_folder/interface/
data/

# Git
.git/
.gitignore
.github/

# Documentation and setup files
docker-compose.yml
Makefile
README.md

# Development dependencies
requirements_dev.txt
